#main{
    min-width: 100%;
    min-height: 100%;
}

.hexdiv-empty, .hexdiv-occ{
    background-size: 100%;
    background-clip: border-box;
}

.hexdiv-empty{
    background-image: linear-gradient(25deg, rgba(56, 120, 178), rgb(130, 207, 194), rgba(234, 59, 185, 0.31));

}
.hexdiv-occ{
    background-image: url("https://raw.communitydragon.org/latest/game/assets/ux/tft/championsplashes/tft8_sylas.tft_set8.png");
}

#hexboard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}

.row{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}  