#main{
    min-width: 100%;
    min-height: 100%;
}

.avatar{
    width: 6rem;
    height: 6rem;
    object-fit: contain;
}

.hexdiv-empty, .hexdiv-occ{
    width: 7rem;
    height: 8rem;
    margin: 0 .12rem;
    background-size: 100%;
    background-clip: border-box;
}

.hexdiv-empty{
    background-image: linear-gradient(25deg, rgba(56, 120, 178), rgb(130, 207, 194), rgba(234, 59, 185, 0.31));

}

.hexdiv-occ{
    background-position: right .05rem top .25rem;
    background-size: 109%;
    background-repeat: none;
}

#hexboard{
    width: 52rem;
    height: 30rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    align-self: center;
    justify-self: center;
}

.row{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}  